
        <section class="header-10-sub v-center bg-midnight-blue">
            <div class="background">&nbsp;</div>
            <div>
                <div class="container">
                    <div class="hero-unit">
                        <h1 class="first-slogan">AudioWire est le nouveau lecteur audio que vous attendiez !</h1>
                        <p>
                            Avec toutes ses fonctionnalités, AudioWire va simplement vous changer la vie !
                        </p>
                    </div>
                </Social
            </div>
            <a class="control-btn fui-arrow-down" href="#"> </a>
        </section>

<!-- content-7  -->
        <section class="content-7 v-center">
            <div>
                <div class="container">
                    <h3>Jetez un oeil à notre super lecteur</h3>
                    <div class="row v-center">
                        <div class="span4">
                            <div class="span4">
                                <h6>Listes de lectures intelligentes</h6>
                                Marre de créer vos listes de lectures à la main ? Laissez-nous le faire pour vous, de manière intelligente !

                                <h6>Synchronisation réseau</h6>
                                Jouez vos morceaux préférés en utilisant les haut-parleurs de tous vos ordinateurs en même temps !
                            </div>
                        </div>
                        <div class="span4">
                            <div class="span4">
                                <%= image_tag "features-middle.jpg" %>
                            </div>
                        </div>
                        <div class="span4">
                            <div class="span4">
                                <h6>Multi-plateformes</h6>
                                AudioWire fonctionne sur la plupart des plateformes actuelles, incluant Linux et votre smartphone !
                                <h6>Sociale</h6>
                                Discutez avec vos amis pendant que vous partagez votre musique préférée avec eux !
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

<!-- content-23  -->
        <section class="content-23 v-center bg-midnight-blue custom-bg">
            <div>
                <div class="container">
                    <div class="hero-unit hero-unit-bordered">
                        <h1>Le mieux, c'est que c'est GRATUIT !</h1>
                    </div>
                </div>
            </div>
            <a class="control-btn fui-arrow-down" href="#"> </a>
        </section>

<!-- content-8  -->
       <!--  <section class="content-8 v-center">
            <div>
                <div class="container">
                    <%= image_tag("img-1@2x.png", height: '193', width: '397') %>
                    <h3>Multi Useful Components</h3>
                    <div class="row">
                        <div class="span6 offset3">
                            <p>Startup Design Framework contains components and complex blocks which can easily be integrated into almost any design. 
                            </p>
                            <a class="btn btn-large btn-clear" href="#">TRY IT NOW</a>
                        </div>
                    </div>
                </div>
            </div>
        </section> -->

<!-- content-23  -->
        <section class="content-23  v-center bg-midnight-blue">
<!--             <div id="bgVideo" class="background"></div>
 -->            <div>
                <div class="container">
                    <div class="hero-unit">
                        <a href="http://epitech.eu" target="_blank"><%= image_tag("logo-epitech-header.png") %></a><br/><br/>
                        <p><a href="http://epitech.eu" target="_blank" class="white-link">L'Epitech</a> est une école d’expertise en informatique créée en 1999 dans la mouvance de l’Ecole pour l’Informatique et les Techniques Avancées (Epita) pour accueillir les bacheliers passionnés qui souhaitent apprendre l’informatique par la pratique et non la théorie. Le cursus se déroule sur 5 ans et fourni un diplôme d’expert en technologies de l’information reconnu en tant que diplôme de niveau I par la CNCP.</p>
                        <p>La force de cette école est principalement basée sur le fait que les étudiants sont poussés à apprendre les différentes notions par eux même. Les notions sont acquises au cours de nombreux mini-projets de groupes et de quelques un plus ambitieux comme le PFA (Projet de Fin d'Année) et finalement l'EIP (Epitech Innovative Project).</p>
                        <br/>
                        <h1><a class="white-link" target="_blank" href="http://www.epitech.eu/projets-etudiants-innovants.aspx">EIP</a></h1>
                        <p>L'EIP (Epitech Innovative Project) est la plus grande étape dans le cursus des étudiants à Epitech puisqu'il les fait passer du statut d'étudiant à celui de professionnel. En quatrième et cinquième année, l'étudiant doit construire un projet complet et tout faire pour le rendre viable et utilisable dans un monde professionnel.</p><br/><br/>



</p>
                    </div>
                </div>
            </div>
            <a class="control-btn fui-arrow-down" href="#"> </a>
        </section>

<!-- content-8  -->
        <section class="content-8 v-center">
            <div>
                <div class="container">
                    
                    <h3>L'équipe</h3>
                    <div class="row pictures-line">
                        <div class="span3">
                            <div class="row">
                                <%= image_tag("team/brunel_m.jpg") %>
                            </div>
                            <div class="row img-subtitle">
                                <div class="span">
                                    <p>Maximilien Brunelle</p>
                                </div>
                                <div class="span img-links">
                                    <a href="//twitter.com/_n0va" target="_blank"><%= image_tag("twitter-circle.png",  height: '20', width: '20') %></a>
                                    <a href="//linkedin.com/pub/maximilien-brunelle/22/206/603" target="_blank"><%= image_tag("linkedin-circle.png",  height: '20', width: '20') %></a>
                                </div>
                            </div>
                        </div>
                        <div class="span3">
                            <div class="row">
                                <%= image_tag("team/defran_h.jpg") %>
                            </div>
                            <div class="row img-subtitle">
                                <div class="span">
                                    <p>Hugo Defrance</p>
                                </div>
                                <div class="span img-links">
                                    <a href="//facebook.com/hugodefrance" target="_blank"><%= image_tag("facebook-circle.png",  height: '20', width: '20') %></a>
                                    <a href="//twitter.com/kol3ror" target="_blank"><%= image_tag("twitter-circle.png",  height: '20', width: '20') %></a>
                                    <a href="//linkedin.com/in/hugodefrance" target="_blank"><%= image_tag("linkedin-circle.png",  height: '20', width: '20') %></a>
                                </div>
                            </div>
                        </div>
                        <div class="span3">
                            <div class="row">
                                <%= image_tag("team/derive_g.jpg") %>
                            </div>
                            <div class="row img-subtitle">
                                <div class="span">
                                    <p>Guillaume Derivery</p>
                                </div>
                                <div class="span img-links">
                                    <a href="//facebook.com/guillaume.derivery" target="_blank"><%= image_tag("facebook-circle.png",  height: '20', width: '20') %></a>
                                    <a href="//linkedin.com/pub/guillaume-derivery/54/941/77" target="_blank"><%= image_tag("linkedin-circle.png",  height: '20', width: '20') %></a>
                                </div>
                            </div>
                        </div>
                        <div class="span3">
                            <div class="row">
                                <%= image_tag("team/feraud_g.jpg") %>
                            </div>
                            <div class="row img-subtitle">
                                <div class="span">
                                    <p>Guillaume Feraud</p>
                                </div>
                                <div class="span img-links">
                                    <a href="//twitter.com/_meta42" target="_blank"><%= image_tag("twitter-circle.png",  height: '20', width: '20') %></a>
                                </div>
                            </div>
                        </div>
                    </div> <!-- end pictures-line -->
                    <div class="row pictures-line">
                        <div class="span3">
                            <div class="row">
                                <%= image_tag("team/meilha_v.jpg") %>
                            </div>
                            <div class="row img-subtitle">
                                <div class="span">
                                    <p>Vivien Meilhac</p>
                                </div>
                                <div class="span img-links">
                                    <a href="//facebook.com/meilhacv" target="_blank"><%= image_tag("facebook-circle.png",  height: '20', width: '20') %></a>
                                    <a href="//twitter.com/VivooBeanz" target="_blank"><%= image_tag("twitter-circle.png",  height: '20', width: '20') %></a>
                                    <a href="//linkedin.com/pub/vivien-meilhac/61/b08/115" target="_blank"><%= image_tag("linkedin-circle.png",  height: '20', width: '20') %></a>
                                </div>
                            </div>
                        </div>
                        <div class="span3">
                            <div class="row">
                                <%= image_tag("team/pasqui_c.jpg") %>
                            </div>
                            <div class="row img-subtitle">
                                <div class="span">
                                    <p>Augustin Pasquini</p>
                                </div>
                                <div class="span img-links">
                                    <a href="//facebook.com/itaelle" target="_blank"><%= image_tag("facebook-circle.png",  height: '20', width: '20') %></a>
                                    <a href="//twitter.com/Itaelles" target="_blank"><%= image_tag("twitter-circle.png",  height: '20', width: '20') %></a>
                                    <a href="//linkedin.com/pub/augustin-pasquini/38/51/62b" target="_blank"><%= image_tag("linkedin-circle.png",  height: '20', width: '20') %></a>
                                </div>
                            </div>
                        </div>
                        <div class="span3">
                            <div class="row">
                                <%= image_tag("team/rose_s.jpg") %>
                            </div>
                            <div class="row img-subtitle">
                                <div class="span">
                                    <p>Stephane Rose</p>
                                </div>
                                <div class="span img-links">
                                    <a href="//facebook.com/stephane.esorkasey" target="_blank"><%= image_tag("facebook-circle.png",  height: '20', width: '20') %></a>
                                    <a href="//twitter.com/Mystt3" target="_blank"><%= image_tag("twitter-circle.png",  height: '20', width: '20') %></a>
                                </div>
                            </div>
                        </div>
                        <div class="span3">
                            <div class="row">
                                <%= image_tag("team/xie_h.jpg") %>
                            </div>
                            <div class="row img-subtitle">
                                <div class="span" style=" background-color: black; margin-left: 0; width: 160px; height: 30px;">
                                    <p>Huai Xie</p>
                                </div>
                                <div class="span img-links">
                                    <a href="//facebook.com/LOLILOLKIKOULOL" target="_blank"><%= image_tag("facebook-circle.png",  height: '20', width: '20') %></a>
                                    <a href="//twitter.com/Keez_90" target="_blank"><%= image_tag("twitter-circle.png",  height: '20', width: '20') %></a>
                                    <a href="//linkedin.com/pub/huai-xie/75/b58/114" target="_blank"><%= image_tag("linkedin-circle.png",  height: '20', width: '20') %></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </section>

<!-- content-11  -->
        <section class="content-11">
            <div class="container">
                <span>Convaincu ?</span>
                <a class="btn btn-large btn-danger" href="/<%= @language %>/download">Essayez Audiowire !</a>
            </div>
        </section>