<div class="container" style="min-height:450px">
<h2 style="text-align:center;">Reset your password</h2>

<% if @user && @user.reset_password_token != @token %>
<div class="row">
  <div class="span6 offset3">
    <%= form_for@user, :url => { :action => "reset_password" } do |f| %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <br><br>
      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation %>

      <br><br>
      <%= f.submit "Confirm", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>
<% else %>
Invalid token
<% end %>
</div>