<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @song.title %>
</p>

<p>
  <b>Artist:</b>
  <%= @song.artist %>
</p>

<p>
  <b>Band:</b>
  <%= @song.band %>
</p>

<p>
  <b>Duration:</b>
  <%= @song.duration %>
</p>

<p>
  <b>Category:</b>
  <%= @song.category %>
</p>


<%= link_to 'Edit', edit_song_path(@song) %> |
<%= link_to 'Back', songs_path %>
