<!-- header-10 -->
<header class="header-10">
    <div class="container">
        <div class="navbar span12">
            <div class="navbar-inner">
                <button type="button" class="btn btn-navbar"> </button>
                <a class="brand" href="/<%= @language %>"><%= image_tag "logo.png" %></a>
                <div class="nav-collapse collapse pull-right">
                    <ul class="nav">
                        <li <% if @current_page == "" %>class="active"<% end %>>
                            <a href="/<%= @language %>">
                            <% if @language == "fr" %>Page d'accueil<% elsif @language == "en" %>Home<% end %>
                            </a>
                        </li>
                        <li <% if @current_page == "download" %>class="active"<% end %>>
                            <a href="/<%= @language %>/download">
                                <% if @language == "fr" %>Téléchargements<% elsif @language == "en" %>Download<% end %>
                            </a>
                        </li>
                        <li <% if @current_page == "support" %>class="active"<% end %>>
                            <a href="/<%= @language %>/support">
                                Support
                            </a>
                        </li>
                        <li <% if @current_page == "terms" %>class="active"<% end %>>
                            <a href="/<%= @language %>/terms">
                                <% if @language == "fr" %>Conditions d'utilisation<% elsif @language == "en" %>Terms and conditions<% end %>
                            </a>
                        </li>
                        <li>
                            <a href="/fr/<%= @current_page %>" class="flag">
                                <%= image_tag "fr.png" %>
                            </a>
                        </li>
                        <li class="flag2">
                            <a href="/en/<%= @current_page %>" class="flag">
                                <%= image_tag "en.png" %>
                            </a>
                        </li>
                    </ul>
                </div>
            </div> <!-- navbar-inner -->
        </div> <!-- navbar -->
    </div> <!-- container -->
</header>